<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mygento\Slider\Block\BannerSlider">
        <arguments>
            <argument name="service" xsi:type="object">Mygento\Slider\Model\BannerResizer</argument>
        </arguments>
    </type>
    <virtualType name="Mygento\Slider\Model\ProductResizer" type="Mygento\ImageCommon\Model\Resizer">
        <arguments>
            <argument name="srcPath" xsi:type="string">catalog/product</argument>
            <argument name="outputPath" xsi:type="string">catalog/product/cache/slider</argument>
        </arguments>
    </virtualType>
    <type name="Mygento\Slider\Block\ProductSlider">
        <arguments>
            <argument name="service" xsi:type="object">Mygento\Slider\Model\ProductResizer</argument>
        </arguments>
    </type>
</config>
