<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Mygento\Slider\Model\Uploader" type="Mygento\ImageCommon\Model\Uploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">mygentoslider/tmp/banner</argument>
            <argument name="basePath" xsi:type="string">mygentoslider/banner</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mygento\Slider\Controller\Adminhtml\Banner\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Mygento\Slider\Model\Uploader</argument>
        </arguments>
    </type>
    <type name="Mygento\Slider\Controller\Adminhtml\Banner\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Mygento\Slider\Model\Uploader</argument>
        </arguments>
    </type>
    <type name="Mygento\Slider\Model\Source\EntityType">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="custom" xsi:type="string">custom</item>
                <item name="cms_page" xsi:type="string">cms_page</item>
                <item name="catalog_product" xsi:type="string">catalog_product</item>
                <item name="catalog_category" xsi:type="string">catalog_category</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Mygento\Slider\Ui\DataProvider\Product\ProductSelectDataProvider" type="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Magento\Catalog\Ui\DataProvider\Product\ProductCollectionFactory</argument>
            <argument name="addFieldStrategies" xsi:type="array">
                <item name="websites" xsi:type="object">Magento\Catalog\Ui\DataProvider\Product\AddWebsitesFieldToCollection</item>
            </argument>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="store_id" xsi:type="object">Magento\Catalog\Ui\DataProvider\Product\AddStoreFieldToCollection</item>
            </argument>
            <argument name="modifiersPool" xsi:type="object">Magento\Ui\DataProvider\Modifier\Pool</argument>
        </arguments>
    </virtualType>
</config>
